__pycache__/
__pycache__/*
BackUp/
config/
config/*
include/BackUp/
include/calculator/BackUp/
BackUp/*
Include/mymath/BackUp/
speaker/*.onnx
*.exe
*.cmd
_ScreenCapture_CaptureWnd.au3
calculator GUI_stripped.au3